*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    width: fit-content;
    
  }

  nav{
    width:100%
  }
  nav ul{
    list-style-type: none;
    background-color:rgb(236, 98, 98);
    text-align: center;
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    
    flex-wrap: wrap;
  }
  .menu-bar{
    width: 30px;   
}

nav button{
    border: none;
    background-color: transparent;
}
  nav a{
    text-decoration: none;
  color: black;
  padding:10px;
  }
  nav li{
    margin: 0 0 10px 0;
  }

  nav a:hover {
    background-color: #ff8787;
  }

  main{
    width: fit-content;
  }

  section{
    height: 100vh;
    width: 100%;
    display: flex;
    background: rgb(237,243,141);
    background: linear-gradient(90deg, rgba(237,243,141,1) 17%, rgba(249,210,243,1) 51%, rgba(239,125,246,1) 100%);
  }
  .intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 0 5%;

  }
  .intro h1{
    font-size:xx-large;
  }
  .intro p{
    line-height: 1.5;
    font-size: large;
  }
  .intro button{
    width: 200px;
    background-color:rgb(236, 98, 98);
    border: none;
    padding:10px 0px;
    color:white;
    font-size:medium;
  }
  .intro button:hover{
    background-color: red;
  }

  .intro-image{
    width:60%;
    overflow: hidden;
  }
  .intro-image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .intro-2-image{
    min-width:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro-2-image-one{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .intro-2-image-one img{
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .intro-2-image-two{
    margin-left:10px ;
    margin-top: 4px;
  }
  .intro-2-image-two img{
    width: 200px;
    height: 410px;
    object-fit: cover;
  }
  .intro-2-text{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
  }
  .intro-2-text div{
    background-color: rgb(236, 98, 98);
    padding:5% 15%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 5%;

  }

  .intro-2-text div h1{
    font-size: xx-large;
    white-space: pre-line;
  }
  .intro-2-text button{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
  }

  @media (max-width:768px){
    section{
        flex-direction: column;
        text-align: left;
        align-items: center;
        justify-content:space-evenly;
        height: fit-content;
        /* height: fit-content; */
        
    }
    .intro{
    width: 100%;
    padding: 0 ;
    margin-top: 8%;
    gap: 15px;
    }
    .intro h1{
        padding-left: 4%;
    }
    .intro p{
        padding:0 2% 0 4% ;
    }
    .intro button{
        margin-left: 4%;
    }
    .intro-image{
        width: 100%;
        margin-top: 20%;
        display: flex;
        justify-content: center;
    }
    .intro-image img{
      width: 90%;
      object-fit: cover;
  }
    .intro-2-text{
      margin: 2% 0 10% 0;
      width: 80%;
      justify-content: center;
    }
    .intro-2-image{
      margin-top: 10%;
    }
    .intro-2-text div{
      margin:0;
    }
    .intro-2-image-one img{
      width: 150px;
      height: 150px;
    }
    .intro-2-image-two img{
      width: 150px;
      height: 305px;
    }

  }


  






